<div class="header-container">
  <div class="header-content">
    <h1 class="main-heading">
      🚀 Exploring Angular Fundamentals & Data Visualization
    </h1>
    <h2 class="sub-heading">{{ title }}</h2>
    <p class="description">{{ description }}</p>

    <div class="cta-buttons">
      <!--<button class="cta-btn" (click)="navigateTo('static')">📊 Static Charts</button>-->
      <!--<button class="cta-btn" (click)="navigateTo('dynamic')">🔄 Live Data</button>-->
    </div>
  </div>

  <div class="header-graphic">
    <img src="data-visualization_5835175.png" alt="Data Visualization Graphic" />




  </div>
</div>

